<div class="invitation">
  <h1>Invitation</h1>
  <p>Would you like to come with me tomorrow for a date?</p>
  <div class="buttons-container">
    <button class="btn yes" (click)="onYesClick()">Sure, I'd love to!</button>
    <button class="btn no" 
            (mouseover)="onNoHover()" 
            [style.top]="noButtonPosition.top"
            [style.left]="noButtonPosition.left">No</button>
  </div>
  <div *ngIf="showSmiley" class="smiley">&#128516;</div>
  <div *ngIf="showThanksMessage" class="thanks-message">Thanks baby ❤️</div> <!-- Add this line -->
</div>
